/*
Timothy Olofson
Frontend Simplified(FES)
Final Project(Week2)
*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #242424;
}

body {
  overflow-x: hidden;
}

section {
  padding: 0 32px;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple {
  color: #6415ff;
}

.section__tag {
  color: #6415ff;
}


div {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h4 {
  font-weight: 600;
}

.btn {
  font-weight: bold;
  color: white;
  background-color: #6415ff;
  border: none;
  border-radius: 500px;
  padding: 12px 32px 12px 32px;
  cursor: not-allowed;
}

/* 

NAVIGATION BAR

*/

.nav {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
}

.nav__logo--img {
  width: 50px;
  height: 50px;
}

.logo__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 12px;
}

.nav__links {
  padding-top: 8px;
}

.nav__link {
  margin: 0 24px;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav__link:hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
}

.login--link {
  padding: 0 32px;
}

.signup--link {
  background-color: #6415ff;
  color: rgb(255, 255, 255);
  padding: 12px 32px;
  border-radius: 30px;
}

/* 

HEADER AREA

*/

.header__blob {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.05;
  width: 300px;
  /* height: 300px; */
  transform: matrix(1, 0, 0, 1, -163, 0);
}

header .row {
  height: 60vh;
  margin-top: 64px;
  display: flex;
}

.header__description {
  width: 40%;
}

.header__description--para {
  width: 100%;
  padding: 24px 0;
}

/* EMAIL TEXTBOX */

input {
  border-radius: 30px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}

button {
  cursor: pointer;
}

/***           ***/

.header__customer--title {
  color: #a0aec0;
  font-size: 12px;
  padding-bottom: 16px;
  margin-top: 64px;
}

.header__customers--img {
  margin-top: 8px;
  width: 380px;
  opacity: 50%;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
  height: 380px;
}

/* 

FEATURES SECTION 

*/

.features__blob {
  transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
  position: absolute;
  right: -20px;
  bottom: -750px;
  width: 16rem;
  opacity: 0.25;
  padding: 16px;
}

#features {
  display: flex;
  justify-content: center;
}

.service__row {
  width: 1000px;
  height: 75vh;
}

.section--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__tag {
  padding-bottom: 18px;
}

.section__title {
  font-size: 48px;
  padding-bottom: 12px;
}

.section__para {
  width: 500px;
  padding-top: 12px;
  margin-bottom: 36px;
  color: #7c8ba1;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  margin-top: 52px;
  display: flex;
}

.feature__img--wrapper {
  padding-right: 24px;
}

.feature__img {
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  padding: 18px;
}

.feature__title {
  padding-bottom: 16px;
}

.feature__para {
  color: rgb(124, 139, 161);
  line-height: 2.0;
}

/* 

QUALITY SECTION

*/

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 300px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: -1;
  display: block;
}

.quality__row {
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.quality__description {
  width: 50%;
}

.quality__para {
  width: 400px;
}

.quality__img--wrapper {
  width: 50%;
  margin-top: 24px;
  margin-left: 36px;
  position: relative;
  z-index: 2;
}

.quality__img {
  width: 100%;
  border: 1px solid #e5e7eb;
}

/* 

STEPS SECTION

*/

.steps__grid {
  position: absolute;
  opacity: 0.15;
  right: 0px;
  bottom: -2113px;
  left: 32%;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  fill: rgba(100, 21, 255);
  z-index: -1;
}

.steps__row {
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.steps__img--wrapper {
  width: 50%;
  margin-top: 56px;
  margin-right: 24px;
}

.steps__img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.steps__description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#steps .section__title {
  padding-bottom: 0px;
}

.steps__title {
  width: 500px;
  margin-bottom: 24px;
}

.steps {
  display: flex;
  flex-direction: column;
}

.step {
  height: 100px;
  margin-top: 24px;
  display: flex;
  align-content: space-between;
}

.step__number {
  color: #d9dbdf;
  font-size: 40px;
  font-weight: 500;
}

.step__description {
  font-size: 14px;
  max-width: 360px;
  line-height: 2.0;
  margin-left: 16px;
}

.step__title {
  font-weight: 500;
}

.step__para {
  color: #7c8ba1;
  margin-top: 8px;
}

/*

VALUES SECTION

*/

.values__row {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.values__description {
  display: flex;
  flex-direction: column;
}

.values {
  display: flex;
  flex-wrap: wrap;
}

.value:nth-of-type(1) {
  margin-top: 32px;
  margin-right: 32px;
}

.value:nth-of-type(2) {
  margin-top: 32px;
}

.value__title {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.value__img--wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value__img--bg-green {
  background-color: #8BE3A5;
}

.value__img--bg-red {
  background-color: #feb2b2;
}

.value__img {
  width: 20px;
  height: 20px;
}

.value__name {
  margin-left: 16px;
}

.value__para {
  max-width: 220px;
  margin-top: 16px;
  padding-bottom: 40px;
}

.values__img {
  width: 50%;
}

/*

PRICING SECTION

*/

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 100px;
  bottom: -3950px;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

.pricing__row {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan {
  width: 100%;
  max-width: 360px;
  margin-top: 24px;
  margin-right: 24px;
  border-left: 1px solid #d9dbdf;
  border-right: 1px solid #d9dbdf;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
              rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan-1,
.plan-3 {
  background-color: white;
}

.plan-2 {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__stripe {
  height: 10px;
  border-radius: 33.33px 33.33px 0 0;
}

.stripe-1 {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.stripe-3 {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top,
.plan__middle,
.plan__bottom {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__top {
  border-bottom: 1px solid #d9dbdf;
}

.plan__middle {
  border-bottom: 1px solid #d9dbdf;
}

.plan__bottom {
  padding: 32px 0;
}

.white-name,
.white-price,
.white--duration,
.white-target {
  color: #fff;
}

.plan__name,
.plan__price,
.plan__duration {
  line-height: 2.0;
  font-weight: bolder;
}

.plan__price {
  font-size: 40px;
}

.plan__duration {
  padding-bottom: 8px;
  letter-spacing: 0.1rem;
}

.grey--duration {
  color: #a0aec0;
}

.plan__target {
  padding-top: 8px;
}

.plan__feature {
  margin-top: 24px;
  color: #7c8ba1;
}

.white-feature {
  color: #fff;
}

.buy-now {
  cursor: pointer;
  font-weight: bolder;
  border: none;
  border-radius: 30px;
  padding: 16px 56px;
}

.plan__1--btn {
  color: #efefef;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__2--btn {
  color: #6415ff;
}

.plan__3--btn {
  color: #efefef;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.buy-now:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, 
              rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/*

TESTIMONIALS SECTION

*/

.testimonials__row {
  margin-top: 100px;
  display: flex;
}

.testimonials__img {
  width: 50%;
}

.testimonials {
  width: 50%;
  margin-top: 56px;
  margin-left: 56px;
  display: flex;
  flex-direction: column;
}

.testimonial__description {
  line-height: 1.5;
}

.testimonial__rating {
  margin-top: 24px;
}

.fas {
  color: gold;
}

.testimonial__title {
  margin-bottom: 16px;
}

.testimonial__para {
  margin-bottom: 40px;
}

.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img {
  width: 75px;
  height: 75px;
  border-radius: 500px;
}

.testimonial__details {
  margin-left: 24px;
}

.testimonial__name {
  font-weight: bolder;
}

.testimonial__role {
  color: #7c8ba1;
}

.testimonial--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial--btn {
  width: 56px;
  height: 56px;
  color: #6415ff;
  background: #e5e7eb;
  border: none;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms;
}

.testimonial--btn:hover {
  background-color: #d9dbdf;
}

.testimonial--btn svg {
  width: 16px;
  height: 16px;
}

.testimonial__btn-divider {
  color: #d9dbdf;
  font-size: 16px;
  margin: 0 16px;
}

/*

START SECTION

*/

.start__blob--1 {
  position: absolute;
  bottom: -5150px;
  left: 220px;
  transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
  width: 320px;
  height: 320px;
  z-index: 1;
  opacity: 0.5;
}

.start__blob--2 {
  position: absolute;
  top: 5800px;
  right: 210px;
  transform: translateX(80px) translateY(-256px);
  width: 320px;
  height: 320px;
  z-index: 1;
  opacity: 0.5;
}

.start__container {
  width: 100%;
  padding: 104px 48px;
  background-color: rgb(100, 21, 255);
  border: none;
  border-radius: 8px 0 8px 0;
}

.start__row {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start__title {
  width: 50%;
  color: #fff;
}

.start__btns {
 width: 50%;
 display: flex;
 justify-content: flex-end;
}

.start__btn {
  padding: 24px 48px;
  font-weight: bolder;
  color: #fff;
  border-radius: 500px;
}

.start--btn-1 {
  margin-right: 24px;
  background-color: #f56565;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, 
              rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: none;

}

.start--btn-1:hover {
  background-color: #feb2b2;
  transition: all 300ms;
}

.start--btn-2 {
  background: none;
  border: 1px solid rgb(160, 174, 192);
  transition: all 300ms ease;
}

.start--btn-2:hover {
  color: #6415ff;
  background-color: #fff;
}

/*

FOOTER SECTION

*/

.footer__blob--1 {
  position: absolute;
  top: 6200px;
  left: 0;
  width: 320px;
  height: 320px;
  transform: translateX(-80px) translateY(-128px);
  z-index: 1;
  opacity: 0.5;
}

.footer__blob--2 {
  position: absolute;
  bottom: -5700px;
  right: 0;
  width: 320px;
  height: 320px;
  transform: translateX(128px) translateY(192px);
  z-index: 1;
  opacity: 0.5;
}

footer {
  padding: 56px 0;
  background-color: rgb(100, 21, 255);
}

.footer__columns {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column-title,
.footer__column--link {
  color: #efefef;
}

.footer__column-title {
  font-size: 16px;
  margin: 8px 0;
}

.footer__column--link {
  font-size: 14px;
  padding-top: 24px;
}

.footer__column--link:hover {
  cursor: not-allowed;
}

.footer__divide {
  width: 100%;
  height: 1.5px;
  background-color: rgb(116, 44, 255);
  margin: 64px 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__logo--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo--img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.footer__logo-title {
  color: #f7fafc;
}

.footer__copyright {
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social--links {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social--link {
  padding: 8px;
  margin-left: 16px;
  background: #f7fafc;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ;
}

.footer__social--link:hover {
  background-color: #d9dbdf;
}

.footer__social--link svg {
  height: 16px;
  width: 16px;
}

/*

MEDIA: SMARTPHONES, LARGE PHONES, & TABLETS. 

*/

/* SMARTPHONES */

media